<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
    Name="!(bind.packageName.VietTypeSetup)"
    Version="!(bind.packageVersion.VietTypeSetup)"
    Manufacturer="!(bind.packageManufacturer.VietTypeSetup)"
    UpgradeCode="1139ce87-c648-4d3c-8f2a-61ab9d04c396">
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.SolutionDir)\LICENSE.rtf" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage Id="VietTypeSetup" SourceFile="$(var.SolutionDir)\VietTypeSetup\bin\Release\VietTypeSetupx86.msi" InstallCondition="NOT VersionNT64 AND VersionNT >= v6.2" />
      <MsiPackage SourceFile="$(var.SolutionDir)\VietTypeSetup\bin\Release\VietTypeSetupx64.msi" InstallCondition="VersionNT64 >= v6.2" />
    </Chain>
  </Bundle>
</Wix>
