.vs
*.aps
*.user
bin/
obj/
Win32/
x64/
Debug/
Release/
TestDebug/
TestRelease/
*.APS
*.i
*_i.c
*_i.h
VietTypeATL/VersionVCS.h
VietTypeATL/VersionNumbers.h
VietTypeSetup/Version.wxi
VietTypeConfig/Properties/Version.cs
VietTypeBundle/*.exe