<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Version.wxi ?>

  <?if $(var.Platform) = x86 ?>
  <?define upgradeCode = "{9AD3C40D-774F-4150-829A-F69ED4BE5A59}" ?>
  <?elseif $(var.Platform) = x64 ?>
  <?define upgradeCode = "{E00AC838-881D-4301-AAC5-0A723BB0B0EF}" ?>
  <?endif ?>

  <?define CLSID_TextService                    = "{C0DD01A1-0DEB-454B-8B42-D22CED1B4B23}" ?>
  <?define IID_IVietTypeRegistrar               = "{05B4B2A2-8AC0-4A11-8F5C-268C4FD4AFAC}" ?>
  <?define CLSID_VietTypeRegistrar              = "{F912E34C-E4CF-4C66-884C-2D54D28154DC}" ?>
  <?define GUID_Profile                         = "{8D93D10A-203B-4C5F-A122-8898EF9C56F5}" ?>
  <?define GUID_TFCAT_TIP_KEYBOARD              = "{34745C63-B2F0-4784-8B67-5E12C8701A31}" ?>
  <?define GUID_TFCAT_TIPCAP_UIELEMENTENABLED   = "{49D2F9CF-1F5E-11D7-A6D3-00065B84435C}" ?>
  <?define GUID_TFCAT_TIPCAP_COMLESS            = "{364215D9-75BC-11D7-A6EF-00065B84435C}" ?>
  <?define GUID_TFCAT_TIPCAP_IMMERSIVESUPPORT   = "{13A016DF-560B-46CD-947A-4C3AF1E0E35D}" ?>
  <?define GUID_TFCAT_TIPCAP_SYSTRAYSUPPORT     = "{25504FB4-7BAB-4BC1-9C69-CF81890F0EF5}" ?>
  <?define GUID_TFCAT_DISPLAYATTRIBUTEPROVIDER  = "{046B8C80-1647-40F7-9B21-B93B81AABC1B}" ?>

  <Product
    Id="*"
    Name="VietType"
    Language="!(bind.fileLanguage.VietTypeATL32.dll)"
    Version="$(var.productVersion)"
    Manufacturer="Dinh Ngoc Tu"
    UpgradeCode="$(var.upgradeCode)">

    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Comments="$(var.Configuration) Ver-$(var.productVersion) Rev-$(var.vcsRev) $(var.Platform)" />

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      Schedule="afterInstallInitialize" />
    <?if $(var.Platform) = x86 ?>
    <Upgrade Id="{E00AC838-881D-4301-AAC5-0A723BB0B0EF}">
      <UpgradeVersion Maximum="$(var.productVersion)" Property="VIETTYPE_OLD_UPGRADE_CODE_DETECTED" MigrateFeatures="yes" />
    </Upgrade>
    <?endif ?>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="VietType" Absent="disallow" AllowAdvertise="yes">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="RegistrationComponents" />

      <Feature Id="DebugSymbolsFeature" Title="Debug symbols" AllowAdvertise="yes">
        <ComponentGroupRef Id="DebugSymbols" />
      </Feature>
    </Feature>

    <Feature Id="ConfigFeature" Title="Configuration tool" AllowAdvertise="yes">
      <ComponentGroupRef Id="ConfigComponents" />
    </Feature>

    <UIRef Id="VietTypeSetupUI" />

    <Condition Message="VietType is only compatible with Windows 8 and newer.">Installed OR (VersionNT >= 602)</Condition>

    <?if $(var.Platform) = x86 ?>
    <Condition Message="32-bit setup can only run on a 32-bit OS.">Installed OR (NOT VersionNT64)</Condition>
    <?endif ?>
  </Product>

  <!-- ################################################################################ -->
  <!-- setup UI -->

  <Fragment>
    <UI Id="VietTypeSetupUI">
      <UIRef Id="WixUI_Minimal" />
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="ActivateProfilesAfterInstall">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>
    <WixVariable Id="WixUILicenseRtf" Value="licembed.rtf" />
  </Fragment>

  <!-- ################################################################################ -->
  <!-- install paths -->

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="VietType" />
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER64" Name="VietType" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- main files -->

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="VietTypeATL32.dll" Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\Win32\$(var.Configuration)\VietTypeATL32.dll" />
        <Class Id="$(var.CLSID_TextService)" Context="InprocServer32" Description="VietType" ThreadingModel="apartment" Advertise="yes" />
        <Class Id="$(var.CLSID_VietTypeRegistrar)" Context="InprocServer32" Description="VietType Registrar" ThreadingModel="apartment" Advertise="yes">
          <Interface Id="$(var.IID_IVietTypeRegistrar)" Name="IVietTypeRegistrar" />
        </Class>
      </Component>

      <?if $(var.Platform) = x64 ?>
      <Component Id="VietTypeATL64.dll" Win64="yes" Directory="INSTALLFOLDER64">
        <File Source="$(var.SolutionDir)\x64\$(var.Configuration)\VietTypeATL64.dll" />
        <Class Id="$(var.CLSID_TextService)" Context="InprocServer32" Description="VietType" ThreadingModel="apartment" Advertise="yes" />
        <Class Id="$(var.CLSID_VietTypeRegistrar)" Context="InprocServer32" Description="VietType Registrar" ThreadingModel="apartment" Advertise="yes">
          <Interface Id="$(var.IID_IVietTypeRegistrar)" Name="IVietTypeRegistrar" />
        </Class>
      </Component>
      <?endif ?>

      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\LICENSE" DefaultLanguage="1033" DefaultVersion="$(var.productVersion)" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- text service registration -->

  <Fragment>
    <ComponentGroup Id="RegistrationComponents">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\CTF\TIP\$(var.CLSID_TextService)">
          <RegistryKey Key="Category">
            <RegistryKey Key="Category\$(var.GUID_TFCAT_TIP_KEYBOARD)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Category\$(var.GUID_TFCAT_TIPCAP_UIELEMENTENABLED)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Category\$(var.GUID_TFCAT_TIPCAP_COMLESS)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Category\$(var.GUID_TFCAT_TIPCAP_IMMERSIVESUPPORT)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Category\$(var.GUID_TFCAT_TIPCAP_SYSTRAYSUPPORT)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Category\$(var.GUID_TFCAT_DISPLAYATTRIBUTEPROVIDER)\$(var.CLSID_TextService)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            <RegistryKey Key="Item\$(var.CLSID_TextService)">
              <RegistryKey Key="$(var.GUID_TFCAT_TIP_KEYBOARD)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
              <RegistryKey Key="$(var.GUID_TFCAT_TIPCAP_UIELEMENTENABLED)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
              <RegistryKey Key="$(var.GUID_TFCAT_TIPCAP_COMLESS)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
              <RegistryKey Key="$(var.GUID_TFCAT_TIPCAP_IMMERSIVESUPPORT)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
              <RegistryKey Key="$(var.GUID_TFCAT_TIPCAP_SYSTRAYSUPPORT)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
              <RegistryKey Key="$(var.GUID_TFCAT_DISPLAYATTRIBUTEPROVIDER)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
            </RegistryKey>
          </RegistryKey>

          <!-- 0x0000042a = vi-VN -->
          <RegistryKey Key="LanguageProfile\0x0000042a\$(var.GUID_Profile)">
            <RegistryValue Type="string" Name="Description" Value="VietType" />
            <RegistryValue Type="integer" Name="Enable" Value="0" />
            <RegistryValue Type="string" Name="IconFile" Value="[#VietTypeATL32.dll]" />
            <!-- -202 -->
            <RegistryValue Type="integer" Name="IconIndex" Value="4294967094" />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- shortcuts -->

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder" />
    </DirectoryRef>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- config -->

  <Fragment>
    <ComponentGroup Id="ConfigComponents">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\VietTypeConfig.exe" />
        <Shortcut Id="ConfigShortcut" Directory="ProgramMenuFolder" Name="VietType Settings" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="logo.exe">
          <Icon Id="logo.exe" SourceFile="$(var.SolutionDir)\VietTypeConfig\logo.ico" />
        </Shortcut>
      </Component>
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\VietTypeConfig.exe.config"
              DefaultLanguage="!(bind.fileLanguage.VietTypeConfig.exe)" DefaultVersion="!(bind.fileVersion.VietTypeConfig.exe)" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- symbols -->

  <Fragment>
    <ComponentGroup Id="DebugSymbols">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\Win32\$(var.Configuration)\VietTypeATL32.pdb"
              DefaultLanguage="!(bind.fileLanguage.VietTypeATL32.dll)" DefaultVersion="!(bind.fileVersion.VietTypeATL32.dll)" />
      </Component>

      <?if $(var.Platform) = x64 ?>
      <Component Win64="yes" Directory="INSTALLFOLDER64">
        <File Source="$(var.SolutionDir)\x64\$(var.Configuration)\VietTypeATL64.pdb"
              DefaultLanguage="!(bind.fileLanguage.VietTypeATL32.dll)" DefaultVersion="!(bind.fileVersion.VietTypeATL64.dll)" />
      </Component>
      <?endif ?>

      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="Symbols.rtf"
              DefaultLanguage="!(bind.fileLanguage.VietTypeATL32.dll)" DefaultVersion="!(bind.fileVersion.VietTypeATL32.dll)" />
        <Shortcut Id="SymbolsShortcut" Directory="ProgramMenuFolder" Name="VietType Symbols README" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- after install -->

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="SystemFolder" />
    </DirectoryRef>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Enable VietType now" />
    <Property Id="Rundll32Path" Value="[%SystemRoot]\System32\rundll32.exe" />
    <CustomAction Id="ActivateProfilesAfterInstall" Directory="SystemFolder" Impersonate="yes" ExeCommand='rundll32.exe "[#VietTypeATL32.dll]",RunActivateProfiles' />
  </Fragment>
</Wix>
