<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Version.wxi ?>

  <?if $(var.Platform) = x86 ?>
  <?define upgradeCode = "{9AD3C40D-774F-4150-829A-F69ED4BE5A59}" ?>
  <?elseif $(var.Platform) = x64 ?>
  <?define upgradeCode = "{E00AC838-881D-4301-AAC5-0A723BB0B0EF}" ?>
  <?endif ?>

  <Product
    Id="*"
    Name="VietType"
    Language="!(bind.fileLanguage.VietTypeATL32.dll)"
    Version="$(var.productVersion)"
    Manufacturer="Dinh Ngoc Tu"
    UpgradeCode="$(var.upgradeCode)">

    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Comments="$(var.Configuration) Ver-$(var.productVersion) Rev-$(var.vcsRev) $(var.Platform)" />

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      Schedule="afterInstallInitialize" />
    <?if $(var.Platform) = x86 ?>
    <Upgrade Id="{E00AC838-881D-4301-AAC5-0A723BB0B0EF}">
      <UpgradeVersion Maximum="$(var.productVersion)" Property="VIETTYPE_OLD_UPGRADE_CODE_DETECTED" MigrateFeatures="yes" />
    </Upgrade>
    <?endif ?>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="VietType input method" Absent="disallow" AllowAdvertise="no">
      <ComponentGroupRef Id="ProductComponents" />
      <Feature Id="DebugSymbolsFeature" Title="Debug symbols" AllowAdvertise="no">
        <ComponentGroupRef Id="DebugSymbols" />
      </Feature>
    </Feature>

    <Feature Id="ConfigFeature" Title="Configuration tool" AllowAdvertise="no">
      <ComponentGroupRef Id="ConfigComponents" />
      <Feature Id="ConfigDebugSymbolsFeature" Title="Debug symbols for configuration tool" AllowAdvertise="no">
        <ComponentGroupRef Id="ConfigDebugSymbols" />
      </Feature>
    </Feature>

    <UIRef Id="VietTypeSetupUI" />

    <Condition Message="VietType is only compatible with Windows 8 and newer.">Installed OR (VersionNT >= 602)</Condition>

    <?if $(var.Platform) = x86 ?>
    <Condition Message="32-bit setup can only run on a 32-bit OS.">Installed OR (NOT VersionNT64)</Condition>
    <?endif ?>

    <InstallExecuteSequence>
      <Custom Action="RegisterCategoriesRollback" After="InstallFiles">(NOT Installed) OR REINSTALL</Custom>
      <Custom Action="RegisterCategories" After="RegisterCategoriesRollback">(NOT Installed) OR REINSTALL</Custom>
      <Custom Action="RegisterProfilesRollback" After="RegisterCategories">(NOT Installed) OR REINSTALL</Custom>
      <Custom Action="RegisterProfiles" After="RegisterProfilesRollback">(NOT Installed) OR REINSTALL</Custom>

      <Custom Action="UnregisterProfilesRollback" After="InstallInitialize">REMOVE OR REINSTALL</Custom>
      <Custom Action="UnregisterProfiles" After="UnregisterProfilesRollback">REMOVE OR REINSTALL</Custom>
      <Custom Action="UnregisterCategoriesRollback" After="UnregisterProfiles">REMOVE OR REINSTALL</Custom>
      <Custom Action="UnregisterCategories" After="UnregisterCategoriesRollback">REMOVE OR REINSTALL</Custom>
    </InstallExecuteSequence>
  </Product>

  <!-- ################################################################################ -->
  <!-- setup UI -->

  <Fragment>
    <UI Id="VietTypeSetupUI">
      <UIRef Id="WixUI_Minimal" />
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="OpenSettingsAfterInstall">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>
    <WixVariable Id="WixUILicenseRtf" Value="licembed.rtf" />
  </Fragment>

  <!-- ################################################################################ -->
  <!-- install paths -->

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="VietType" />
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER64" Name="VietType" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- main files -->

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="VietTypeATL32.dll" Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\Win32\$(var.Configuration)\VietTypeATL32.dll" />
        <Class Id="{C0DD01A1-0DEB-454B-8B42-D22CED1B4B23}" Context="InprocServer32" Description="VietType" ThreadingModel="apartment" Advertise="yes" />
      </Component>

      <?if $(var.Platform) = x64 ?>
      <Component Id="VietTypeATL64.dll" Win64="yes" Directory="INSTALLFOLDER64">
        <File Source="$(var.SolutionDir)\x64\$(var.Configuration)\VietTypeATL64.dll" />
        <Class Id="{C0DD01A1-0DEB-454B-8B42-D22CED1B4B23}" Context="InprocServer32" Description="VietType" ThreadingModel="apartment" Advertise="yes" />
      </Component>
      <?endif ?>

      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\LICENSE" DefaultLanguage="1033" DefaultVersion="$(var.productVersion)" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- shortcuts -->

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder" />
    </DirectoryRef>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- config -->

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="ConfigRes_en" Name="en" />
      <Directory Id="ConfigRes_vi" Name="vi" />
    </DirectoryRef>
    <ComponentGroup Id="ConfigComponents">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\VietTypeConfig.exe" />
        <Shortcut Id="ConfigShortcut" Directory="ProgramMenuFolder" Name="VietType Settings" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="logo.exe">
          <Icon Id="logo.exe" SourceFile="$(var.SolutionDir)\VietTypeConfig\logo.ico" />
        </Shortcut>
      </Component>
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\VietTypeConfig.exe.config"
              DefaultLanguage="!(bind.fileLanguage.VietTypeConfig.exe)" DefaultVersion="!(bind.fileVersion.VietTypeConfig.exe)" />
      </Component>
      <Component Win64="no" Directory="ConfigRes_en">
        <File Id="VietTypeConfig.resources.en.dll" Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\en\VietTypeConfig.resources.dll" />
      </Component>
      <Component Win64="no" Directory="ConfigRes_vi">
        <File Id="VietTypeConfig.resources.vi.dll" Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\vi\VietTypeConfig.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- symbols -->

  <Fragment>
    <ComponentGroup Id="DebugSymbols">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\Win32\$(var.Configuration)\VietTypeATL32.pdb"
              DefaultLanguage="!(bind.fileLanguage.VietTypeATL32.dll)" DefaultVersion="!(bind.fileVersion.VietTypeATL32.dll)" />
      </Component>

      <?if $(var.Platform) = x64 ?>
      <Component Win64="yes" Directory="INSTALLFOLDER64">
        <File Source="$(var.SolutionDir)\x64\$(var.Configuration)\VietTypeATL64.pdb"
              DefaultLanguage="!(bind.fileLanguage.VietTypeATL32.dll)" DefaultVersion="!(bind.fileVersion.VietTypeATL64.dll)" />
      </Component>
      <?endif ?>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ConfigDebugSymbols">
      <Component Win64="no" Directory="INSTALLFOLDER">
        <File Source="$(var.SolutionDir)\VietTypeConfig\bin\$(var.Configuration)\VietTypeConfig.pdb"
              DefaultLanguage="!(bind.fileLanguage.VietTypeConfig.exe)" DefaultVersion="!(bind.fileVersion.VietTypeConfig.exe)" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- ################################################################################ -->
  <!-- custom actions -->

  <Fragment>
    <SetProperty Id="RegisterCategories" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunRegisterCategories' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="RegisterCategoriesRollback" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunUnregisterCategories' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="UnregisterCategories" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunUnregisterCategories' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="UnregisterCategoriesRollback" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunRegisterCategories' After="CostFinalize" Sequence="execute" />

    <SetProperty Id="RegisterProfiles" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunRegisterProfiles' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="RegisterProfilesRollback" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunUnregisterProfiles' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="UnregisterProfiles" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunUnregisterProfiles' After="CostFinalize" Sequence="execute" />
    <SetProperty Id="UnregisterProfilesRollback" Value='"[%SystemRoot]\System32\rundll32.exe" "[#VietTypeATL32.dll]",RunRegisterProfiles' After="CostFinalize" Sequence="execute" />

    <CustomAction Id="RegisterCategories" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="deferred" />
    <CustomAction Id="RegisterCategoriesRollback" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="rollback" />
    <CustomAction Id="UnregisterCategories" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="deferred" />
    <CustomAction Id="UnregisterCategoriesRollback" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="rollback" />

    <CustomAction Id="RegisterProfiles" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="deferred" />
    <CustomAction Id="RegisterProfilesRollback" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="rollback" />
    <CustomAction Id="UnregisterProfiles" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="deferred" />
    <CustomAction Id="UnregisterProfilesRollback" BinaryKey="WixCA" DllEntry="WixQuietExec" Impersonate="no" Execute="rollback" />
  </Fragment>

  <!-- ################################################################################ -->
  <!-- after install -->

  <Fragment>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open VietType Settings" />
    <Property Id="Rundll32Path" Value="[%SystemRoot]\System32\rundll32.exe" />
    <Property Id="WixShellExecTarget" Value="[#VietTypeConfig.exe]" />
    <CustomAction Id="OpenSettingsAfterInstall" Impersonate="yes" BinaryKey="WixCA" DllEntry="WixShellExec" />
  </Fragment>
</Wix>
